.places 
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 45px auto;
	text-align: center;
}

article 
{
	width: 390px;
	margin: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 40px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: flex;
	flex: none;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
}

.headline 
{
	width: 100%;
	height: 80px;	
	display: flex;
	flex-direction: row;
	position: relative;

}

.price_by_night 
{
	min-width: 60px;
	height: 60px;
	padding: 5px;
	right: 0;
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	position: absolute;
	line-height: 60px;
	color: #FF5A5F;
	font-size: 30px;
	float: right;
}

.information 
{
	width: 100%;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 12px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: block;
}

.max_guest, 
.number_rooms, 
.number_bathrooms 
{
	width: 100px;
	margin: 0px auto;
	text-align: center;
	display: inline-block;
}

.user 
{
	margin-top: 5px;
	margin-bottom: 5px;	
}

.description 
{
	text-align: left;
}

h1 
{
	width: 95%;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 30px;
	display: block;
}

article .amenities 
{
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
}

.article_subtitle 
{
	width: 100%;
	margin: 0px;
	margin-top: 40px;
	padding: 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	font-size: 16px;
	text-align: left;
}

.article_title 
{
    margin: 10px auto;
	padding: 0px;
    font-size: 30px;
}

article ul 
{
    margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
    text-align: left;
}

article li 
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	margin-bottom: 10px;
}

.reviews 
{
	width: 100%;
	margin-top: 40px;
}

.review_item 
{
	margin-bottom: 10px;
}

.review_text 
{
	margin: 0px;
}

article h3 
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	font-size: 14px;
}

.guest_icon 
{
	width: 50px;
	height: 50px;
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.bed_icon 
{
    width: 50px;
    height: 50px;
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.bath_icon 
{
    width: 50px;
    height: 50px;
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.tv_icon 
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url("../images/icon_tv.png");
	background-size: cover;
	display: inline-block;
}

.wifi_icon 
{
	width: 20px;
    height: 20px;
	margin-right: 10px;
    background-image: url("../images/icon_wifi.png");
    background-size: cover;
	display: inline-block;
}

.pet_icon 
{
    width: 20px;
	height: 20px;
	margin-right: 10px;
    background-image: url("../images/icon_pets.png");
	background-size: cover;
	display: inline-block;
}